---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import HeaderTwo from '../components/HeaderTwo.astro';
import HeaderThree from '../components/HeaderThree.astro';
import Mark from '../components/Mark.astro';
import Para from '../components/Para.astro';
---

<Layout title="About Me">
  <Main>
    <div class="space-y-8 max-w-prose mx-auto">
      <Header>About <Mark>Me</Mark>!</Header>

      <Para>
        Hey, have you ever heard of paid social advertising? That’s what I do. I
        run ads on social media platforms like Facebook and Instagram. What does
        that even mean? Allow me to answer that with more questions.
      </Para>
      <Para>
        As a kid, I fantasized about starting a band with my two sisters,
        envisioning a life where we'd tour the globe, spreading joy to crowds
        with beaming faces. However, reality hit, and I discovered that my vocal
        talents leaned more towards creative writing than belting out tunes.
        While my secondary dreams of becoming a princess didn't quite pan out
        either, my boundless imagination and knack for entrepreneurship have led
        me to where I am today.
      </Para>
      <Para>
        My roots in entrepreneurship started early as I watched my parents start
        a coffee roasting company when I was 5, taking naps on the burlap bean
        bags during the early stages. When I turned 16, I started my own t-shirt
        business and sold them out of the trunk of my parent’s station wagon
        outside my high school at lunch time. I realized that if I believed in
        the product, I wasn’t just selling something, I was getting people to
        join in something wonderful.
      </Para>
      <Para>
        Fueled by a passion for creative writing and a love for helping
        businesses flourish, I ventured into the realm of social media in 2010.
        From managing social media for NBC Universal's gems like Parks and Rec
        and The Office to crafting strategic reports for entertainment giants
        like FOX Studios and ABC, my journey has been diverse. I led paid social
        strategies for heavyweights such as the US Navy, Caesars Entertainment,
        Domino’s, and Jack in the Box, handling budgets north of $10M annually.
      </Para>
      <Para>
        Within three months, I drove a 344% increase in Navy recruits and
        transformed $106K of ad spend into $1.5M in revenue for Caesars
        Entertainment.
      </Para>
      <Para>
        So, whether you're chasing dreams like I did on that imaginary stage or
        aiming to turn ad spend into results that matter, let's make some
        digital magic happen together.
      </Para>
    </div>
  </Main>
</Layout>
