---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Mark from '../components/Mark.astro';
import Para from '../components/Para.astro';
import Main from '../components/Main.astro';
---

<Layout title="Contact">
  <Main>
    <div class="space-y-8 mx-auto max-w-prose">
      <Header>Hey, <Mark>You</Mark>!</Header>
      <Para>
        If you’re looking for someone to help you with paid social ads whether
        that’s creating the strategy, managing your ad campaigns, or auditing
        your current social media accounts, I’d love to connect!
      </Para>
      <Para>
        <a href="mailto:caroline.sancken@gmail.com"
          >caroline.sancken@gmail.com</a
        >
      </Para>
      <Para><a href="tel:2069141257">206-914-1257</a></Para>
    </div>
  </Main>
</Layout>
