---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Mark from '../components/Mark.astro';
import HeaderTwo from '../components/HeaderTwo.astro';
---

<Layout title="Pricing">
  <Main>
    <div class="mx-auto max-w-2xl sm:text-center">
      <Header
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        <Mark>Pricing</Mark>
      </Header>

      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 bg-gray-50 ring-gray-200 sm:mt-20"
      >
        <div class="p-8 sm:p-10 lg:flex-auto">
          <HeaderTwo>Full Service Package</HeaderTwo>
          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-purple-600"
            >
              What’s included
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Discovery Call
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Social Media Account Audit
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Social Strategy
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Tracking Setup
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Campaign Execution
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Ad Creation
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Bi-Monthly Check in
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Monthly Wrap Report
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Insights & Recommendations Call
            </li>
          </ul>
        </div>
        <div class="-mt-2 p-2">
          <div
            class="rounded-2xl bg-gray-100 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
          >
            <div class="mx-auto max-w-xs px-8">
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >$3000</span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >per month*</span
                >
              </p>
              <a
                href="/contact"
                class="mt-10 block w-full rounded-md bg-purple-400 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-400"
                >Get In Touch</a
              >
              <p class="mt-6 text-xs leading-5 text-gray-600">
                *or 15% of ad spend, whichever is greater
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 bg-gray-50 ring-gray-200 sm:mt-20"
      >
        <div class="p-8 sm:p-10 lg:flex-auto">
          <HeaderTwo>Paid Social Consulting</HeaderTwo>

          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-purple-600"
            >
              What’s included
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Discovery Call
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Social Media Account Audit
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Paid Social Strategy
            </li>
          </ul>
        </div>
        <div class="-mt-2 p-2">
          <div
            class="rounded-2xl bg-gray-100 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
          >
            <div class="mx-auto max-w-xs px-8">
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >$1500</span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >per month*</span
                >
              </p>
              <a
                href="/contact"
                class="mt-10 block w-full rounded-md bg-purple-400 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-400"
                >Get In Touch</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 bg-gray-50 ring-gray-200 sm:mt-20"
      >
        <div class="p-8 sm:p-10 lg:flex-auto">
          <HeaderTwo>Social Media Account Audit</HeaderTwo>

          <div class="mt-10 flex items-center gap-x-4">
            <h4
              class="flex-none text-sm font-semibold leading-6 text-purple-600"
            >
              What’s included
            </h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul
            role="list"
            class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Discovery Call
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-purple-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"></path>
              </svg>
               Social Media Account Audit
            </li>
          </ul>
        </div>
        <div class="-mt-2 p-2">
          <div
            class="rounded-2xl bg-gray-100 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
          >
            <div class="mx-auto max-w-xs px-8">
              <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900"
                  >$1500</span
                >
                <span
                  class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                  >USD</span
                >
              </p>
              <a
                href="/contact"
                class="mt-10 block w-full rounded-md bg-purple-400 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-400"
                >Get In Touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </Main>
</Layout>
