---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import HeaderTwo from '../components/HeaderTwo.astro';
import HeaderThree from '../components/HeaderThree.astro';
import Mark from '../components/Mark.astro';
import Para from '../components/Para.astro';
---

<Layout title="Work with Me">
  <Main>
    <div class="space-y-8 max-w-prose mx-auto">
      <Header><Mark>Work with Me</Mark>!</Header>
      <HeaderTwo>What I Do</HeaderTwo>
      <Para>
        Hey, have you ever heard of paid social advertising? That’s what I do. I
        run ads on social media platforms like Facebook and Instagram. What does
        that even mean? Allow me to answer that with more questions.
      </Para>
      <ul class="text-lg leading-8 text-gray-600 list-disc list-outside pl-8">
        <li>Do you need to drive traffic to your website?</li>
        <li>Do you have an ecommerce business?</li>
        <li>
          Do you want to sell a product, service, a class or perhaps book hotel
          rooms?
        </li>
        <li>Do you need to generate qualified leads for your business?</li>
      </ul>
      <Para>
        If you answered yes to any of the above questions, then social media
        advertising can work for you! My consulting services are all about
        helping businesses – big and small – navigate this exciting but
        oftentimes confusing landscape, making social media advertising work
        wonders for you!
      </Para>
      <HeaderTwo>Why <Mark>Social Media</Mark> Advertising?</HeaderTwo>
      <Para>
        Wondering why your business should dive into the world of social media
        advertising? I know it seems like a lot of money to invest in something
        you may not know anything about.
      </Para>
      <Para>
        Well, it's like having a secret weapon in your marketing toolkit! Social
        media ads aren't just for the big players; they're a game-changer for
        businesses of all shapes and sizes. Imagine reaching the exact people
        who are itching to know about your products or services? Whether you're
        a small business, startup or an already successful business, social
        media ads boost your brand visibility, drive visitors to your website,
        generate qualified leads and can increase your revenue. The world is a
        playground of potential customers.
      </Para>
      <Para>Best case scenario? We exceed all your goals.</Para>
      <Para>
        Worst case scenario? You take home a lot of data and learnings, so you
        know exactly what to change to achieve your dream results.
      </Para>
      <HeaderTwo><Mark>Case Studies</Mark></HeaderTwo>
      <HeaderThree>Caesars</HeaderThree>
      <ul class="text-lg leading-8 text-gray-600 list-disc list-outside pl-8">
        <li><strong>Goal:</strong> Increase number of hotel bookings</li>
        <li>
          <strong>Process:</strong>
           Leverage dynamic creative and tap into underutilized audiences
        </li>
        <li><strong>Spend:</strong> $106.6K</li>
        <li><strong>Total Bookings:</strong> 11,457</li>
        <li><strong>Revenue:</strong> $1.5MM</li>
        <li><strong>Return on Ad Spend:</strong> 13.91X</li>
      </ul>
      <HeaderThree>US Navy</HeaderThree>
      <ul class="text-lg leading-8 text-gray-600 list-disc list-outside pl-8">
        <li><strong>Goal:</strong> Increase number of eligible recruits</li>
        <li>
          <strong>Process:</strong>
           Create a full funnel approach to eliminate inefficiencies and tell
          the full Navy story, engaging qualified recruits throughout their
          journey.
        </li>
        <li><strong>Spend:</strong> $180K over 3 months</li>
        <li>
          <strong>Leads:</strong> 160K increase in leads in 3 months (+71%)
        </li>
        <li>
          <strong>Registrations:</strong> 3K increase in recruits over 3 months
          (+344%)
        </li>
        <li>
          <strong>Cost per Registration:</strong> Dropped from $234 to $123
          (-48%)
        </li>
      </ul>
      <HeaderThree>Red Umbrella Designs</HeaderThree>
      <ul class="text-lg leading-8 text-gray-600 list-disc list-outside pl-8">
        <li>
          <strong>Goal:</strong> Increase website traffic and online orders
        </li>
        <li>
          <strong>Process:</strong>
           Create campaigns designed to spread brand awareness, increase website
          traffic and conversions. Utilize dynamic creative to increase sales
          while maintaining a cost effective price per purchase.
        </li>
        <li><strong>Website Visitors:</strong> Increased by 212%</li>
        <li>
          <strong>Online store sessions:</strong> Increased 200% over a 3 month
          period
        </li>
        <li><strong>Online Sales:</strong> Increased by 34%</li>
        <li><strong>Average Order Value:</strong> Increased by 32%</li>
      </ul>
    </div>
  </Main>
</Layout>
